

.accordion-button {
    background-color: #b3bccf;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #8a94a8;
}

.accordion-body {
    background-color: #f8f9fa;
    transition: height 0.4s ease;
}

.accordion-item {
    margin-bottom: 10px;
}
